body{
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTG_7p9PAKHI87s3z9KdwpT8xik301WrH_iJ2xhfJsHEEx6otU4");
  background-repeat: no-repeat;
  background-size: cover;
  }
.about{
  border:colourless;
  padding:35px;
  align-self: center;
  text-align: center;
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTt4vbvYtIKDwIEXfiDdAzQjZf1L_IZe9-6XP29avNYXhyRLPA6");
  margin-top: 12%;
  margin-left: 30%;
  margin-right:20%;
}
